*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6; /* to space out elements*/
}

ul {
    list-style-type: none; /* to remove the bullet listing*/
}

a {
    text-decoration: none; /* get rid of the underline in links*/
}

h1,
h2 {
    font-weight: 300; /* make them less bold*/
    line-height: 1.2;
    margin: 10px 0; /* margin top and bottom of 10px and 0 margin left and right*/
}

.top h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.top h2 {
    font-size: 24px;
    color: #f9faf8;
}

p {
    margin: 10px 0;
}

.top p {
    font-size: 18px;
     color: #e5e7eb;
}

img,
iframe {
    width: 100%; /* keep images within the border of the container*/
    display: block;
    height: 300px;
    width: 300px;
}

.split img {
    width: 500px;
}

.top {
    background-color: #1f2937;
    overflow: auto; /* eliminates the margin at the top, so the box extends from top of webpage*/
    padding: 0 100px;
    padding-bottom: 50px;
    height: auto;

}

.container {
   width: min(90%, 70.5rem);
   margin: 0 auto;
}

header {
    display: flex; /* make h2 and nav flex box items, hence display them side by side*/
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;
    flex-direction: column;
}

.split {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 45px;
    flex-direction: column;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.top ul {
    display: flex;
    flex-direction: column;
}

/* media querry comes after the flex containers for it work*/

@media(min-width: 40em) { 
    .split,
    header,
    .container-2,
    .top ul {
        flex-direction: row;
    }

    .split > *,
    .container-2 > * {
        flex-basis: 100%; /* assigning divs with equal columns*/
    }
}

.top li {
     margin: 10px 15px;
     padding: 10px;
     line-height: 1.2;
     font-size: 18px;
     color: #e5e7eb;
     margin-bottom: 35px;

 }

 .top li:hover{
     border-bottom: 2px red solid;
 }

 .top button {
     background-color: rgba(9, 64, 216, 0.877);
     color: #f9faf8;
     padding: 6px 35px;
     border: none;
     font-weight: 600;
     border-radius: 7px;
 }
 .section-2 h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
    margin: 20px 0;
 }

 .section-3 {
     background-color:#e5e7eb;
     padding: 50px 0;
 }

 .quote {
     font-size: 36px;
     font-style: italic;
     color: #1f2937;
 }

 .name {
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    text-align: right;
 }

 .section-4 {
     padding: 95px 0;
 }

 .container-blue {
     background-color: #3882f6;
     padding: 15px 70px;
     border-radius: 9px;
 }

 .container-blue p,
 h2 {
     color: #f9faf8;
 }

 .container-blue h2 {
     font-weight: 650;
 }

 .container-blue button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 25px;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 7px;
    margin-left: 150px;
 }

 .section-5 {
     background-color:#1f2937;
     text-align: center;
     color: #f9faf8;
     padding: 25px 0;
     font-weight: 700;
 }

